<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="../static/images/icon.ico" >

		<link rel="stylesheet" href="../static/styles/4-common.css"/>
		<link rel="stylesheet" href="../static/styles/3-header.css"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css"/>
		<link rel="stylesheet" href="../static/styles/8-places.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for state in state_dict.items()|sort(attribute='1.name') %}
						<li>
							<h2>{{state[1].name}}</h2>
							<ul>
								{% for city in state[1].cities|sort(attribute="name") %}
								<li><h4>{{city.name}}</h4></li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for amenity in amn_dict.items()|sort(attribute='1.name') %}
						<li><h4>{{amenity[1].name}}</h4></li>
						{% endfor %}
					</ul>
				</div>

			</section>
			<section class="places">
				<h1>Places</h1>
				{% for place in place_dict.items()|sort(attribute='1.name') %}
				<article>
					<div class="headline">
						<h2>{{ place[1].name }}</h2>
						<div class="price_by_night">${{ place[1].price_by_night}}</div>
					</div>
					<div class="information">
						<div class="max_guest">
							<div class="guest_icon"></div>
							<p>{{ place[1].max_guest }} Guest</p>
						</div>
						<div class="number_rooms">
							<div class="bed_icon"></div>
							<p>{{ place[1].number_rooms }} Room</p>
						</div>
						 <div class="number_bathrooms">
							<div class="bath_icon"></div>
							<p>{{ place[1].number_bathrooms }} Bathroom</p>
						</div>
					</div>
					<div class="user"><b>Owner</b>: {{ place[1].user.first_name }} {{ place[1].user.last_name }}</div>
					<div class="description">
                        {{ place[1].description|safe }}
                    </div>
				</article>
				{% endfor %}	
			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
